.homeAppliances{
    background: url(/sumsung/Early-BF-DA-LOB-M\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    padding: 2rem 1rem;
    position: relative;
    & h1{
        color: black;
        font-size: 34px;
        line-height: 43px;
        font-family: arial, san-serif;
        font-weight: 700;
        text-align: center;
    }
    .appliances{
        padding: 1rem .3rem;
        margin-top: 1rem;
    
        .appliancenav{
            display: flex;
            justify-content: center;
            gap: 1rem;

            & a{
                text-decoration: none;
                color: black;
                font-size: 16px;
                font-family: arial, san-serif;
                font-weight: 600;
    
            }
        }
    }
    .appliance2{
        position: absolute;
        bottom: 0;
        width: 400px;
        right: 50%;
        transform: translate(50%);
        padding-bottom: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        & p{
            font-size: 16px;
            font-family: arial, san-serif;
            font-weight: lighter;
            padding: 1.3rem;
        }
        button{
            width: 9rem;
            padding: 1rem 1rem;
            border-radius: 2rem;
            display: flex;justify-content: center;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            color: white;
            background-color: black;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-family: arial, san-serif;
            font-weight: 600;
            padding: 1rem;

        }

    }
}