@mixin h1{
    color: white;
        font-size: 36px;
        line-height: 43px;
        font-family: arial, san-serif;
        font-weight: 700;
        text-align: center;
}

@mixin a{
    text-decoration: none;
                color: white;
                font-size: 16px;
                font-family: arial, san-serif;
                font-weight: 600;
    

}
@mixin button{
    width: 8rem;
            padding: 1rem 1rem;
            border-radius: 2rem;
            display: flex;justify-content: center;
            align-items: center;
            gap: 8px;
            font-size: 17px;
            color: black;
            background-color: white;
}

@mixin p{
    font-size: 16px;
            font-family: arial, san-serif;
            font-weight: lighter;
            padding: 1.3rem;
            color: white;
}