.seasons{
    text-align: center;
    font-family: arial, san-serif;
    padding: 2rem 1rem;
    h1{
        font-size: 28px;
        
    }
    h2, a{
        font-size: 18px;
        color: black;
        text-decoration: none;
        padding: 1rem;
    }
    .links{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        & a{
            text-decoration: none;
            color: black;
            font-size: 14px;
    
        }
    }
} .sales{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    .item{
        background-color: rgb(244,244,244);
        padding: 1rem;
        border-radius: 20px;
        & img{
            width: 10rem;
        }
    }
}